[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eha"]
	path = eha
	url = https://github.com/goranbrostrom/eha
[submodule "glmmML"]
	path = glmmML
	url = https://github.com/cran/glmmML
